@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url("../assets/imgs/17.png");
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("../assets/imgs/16.jpg");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
}

input[type="checkbox"]:checked ~ body {
  background-image: url("../assets/imgs/17.png");
}

.main {
  height: calc(100vh - 67px);
}

@layer base {
  /* h1 {
    @apply text-2xl;
  } */

  form {
    @apply flex flex-col bg-[#8e8e8ea2] w-[600px] p-10 rounded-xl;
  }
}

@layer components {
  /* .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  } */

  /* .select2-dropdown {
    @apply rounded-b-lg shadow-md;
  } */
}

@layer utilities {
  .error-message {
    color: red;
    width: 100%;
    text-align: center;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 44px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    left: -1px;
    top: -0.5px;
    background-color: rgb(0, 0, 0);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  input[type="checkbox"]:checked + .slider {
    background-color: #acacac;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #aeaeae;
  }

  input[type="checkbox"]:checked + .slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
  }

  .light {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .dark {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }

  .active {
    background-color: aqua;
  }
}
